# Dependências e Builds
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema Operacional / IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
